body {
    margin: 0;
    padding: 0;
}

.flag {
    display: flex;
    width: 300px; 
    height: 200px; 
}

.color {
    flex-grow: 1;
}

.black {
    background-color: black;
}

.yellow {
    background-color: #FFD100;
}

.red {
    background-color: #ED2939;
}
